{% extends 'base.html.twig' %}

{% block title %}
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
    <a href="{{ path('default') }}">default</a>
    <a href="{{ path('index') }}">index</a>
{% endblock %}

{% block javascripts %}
{% endblock %}
